{% extends  "inplaceeditform/adaptor_date/render_media_field.html" %}

{% block media %}
    {{ block.super }}
    <script type="text/javascript">
        //console.log('{{ field.auto_id }}')
        (function($){
            $(function() {
                //$.boostrapui.datetimepicker('#'+ field_id)
                function getValueDateTime(form, field_id) {
                    alert(field_id)
                }
              //function getValueDateTime(form, field_id) {
              //    return form.find("#"+field_id+"_0").val() + " " + form.find("#"+field_id+"_1").val();
              //}
              $("#{{ field.id_for_label }}").data("initializeField", $.boostrapui.initialize.datetimepicker);
              //console.log("#{{ field.id_for_label}}");
            });
        })(jQuery);
    </script>
{% endblock %}
{#['_auto_id', '_data', '_errors', '_id_for_label', '_is_hidden', 'as_hidden', 'as_text', 'as_textarea', 'as_widget', 'auto_id', 'css_classes', 'data', 'errors', 'field', 'form', 'help_text', 'html_initial_id', 'html_initial_name', 'html_name', 'id_for_label', 'is_hidden', 'label', 'label_tag', 'name', 'value']#}
