{% load i18n %}

{% block form %}
    <form class="inplaceeditform {{ class_inplace }}" action="{% url inplace_save %}" enctype=multipart/form-data>
        {{ field }}
        <span class="field_id" style="display:none">{{ field.auto_id }}</span>
        {% block actions %}
            {% block apply %}
                <button {% if editable %}onclick="CKupdate()"{% endif %} class="apply {% block classapply %}{% endblock %}" title="{% trans "Apply change" %}" type="button">
                    <span>
                    {% trans "Save" %}
                    </span>
                </button>
            {% endblock %}
            {% block cancel %}
                <button class="cancel {% block classcancel %}{% endblock %}" title="{% trans "Cancel change" %}" type="button">
                    <span>
                    {% trans "Cancel" %}
                    </span>
                </button>
            {% endblock %}
        {% endblock %}
    </form>

{% if editable %}<script type="text/javascript">
function CKupdate(){
    /*Need this function to ajax post CKEditor*/
    var instance = CKEDITOR.instances['{{ field.auto_id }}'];
    instance.updateElement();
    delete instance;
}

var CKeditor = new CKEDITOR.replace('{{ field.auto_id }}', { 
    customConfig : '', 
    language : 'en',
    toolbar :
    [
        ['Source','-','Undo','Redo'],
        ['Find','Replace','-','SelectAll','RemoveFormat'],
        ['Link', 'Unlink', 'Image'],
        ['Bold', 'Italic','Underline'],
        ['NumberedList','BulletedList','-','Blockquote'],
        ['TextColor', '-', 'SpecialChar', '-', 'Maximize']
    ],
    filebrowserBrowseUrl: '/static/js/filemanager/index.html',
    filebrowserImageBrowseUrl : '/static/js/filemanager/index.html?type=Images',
});
</script>{% endif %}
{% endblock %}
