{% load i18n %}

{% block form %}
<form data-field="{{ field.auto_id }}" class="inplaceeditform form-inline {{ class_inplace }}" action="{% url inplace_save %}" enctype=multipart/form-data>
    {# deprecated: use form[data-field-id] instead #}<span class="field_id" style="display:none">{{ field.auto_id }}</span>
    {{ field }}
    {% block field.widget %}
    <widget data-field-id="{{ field.auto_id }}" data-type="{% block widget.type %}text{% endblock %}" {% block widget.options %}{% endblock %} />
    {% endblock %}
    {% block actions %}
    <div class="btn-group">
        {% block apply %}
            <button {% if editable %}onclick="CKupdate()"{% endif %} class="apply btn btn-success btn-small {% block classapply %}{% endblock %}" title="{% trans "Apply change" %}" type="button">
                <i class="icon icon-ok icon-white" />
            </button>
        {% endblock %}
        {% block cancel %}
            <button class="cancel btn btn-danger btn-small {% block classcancel %}{% endblock %}" title="{% trans "Cancel change" %}" type="button">
                <i class="icon icon-remove icon-white" />
            </button>
        {% endblock %}
    </div>
    {% endblock %}
</form>

{% if editable %}<script type="text/javascript">
function CKupdate(){
    /*Need this function to ajax post CKEditor*/
    var instance = CKEDITOR.instances['{{ field.auto_id }}'];
    instance.updateElement();
    delete instance;
}

var CKeditor = new CKEDITOR.replace('{{ field.auto_id }}', { 
    customConfig : '', 
    language : 'en',
    toolbar :
    [
        ['Source','-','Undo','Redo'],
        ['Find','Replace','-','SelectAll','RemoveFormat'],
        ['Link', 'Unlink', 'Image'],
        ['Bold', 'Italic','Underline'],
        ['NumberedList','BulletedList','-','Blockquote'],
        ['TextColor', '-', 'SpecialChar', '-', 'Maximize']
    ],
    filebrowserBrowseUrl: '/static/js/filemanager/index.html',
    filebrowserImageBrowseUrl : '/static/js/filemanager/index.html?type=Images',
});
</script>{% endif %}
{% endblock %}
