{% extends  "inplaceeditform/render_media_field.html" %}
{% load staticfiles %}

{% load adminmedia %}

{% block media %}
    <script src="{% url django.views.i18n.javascript_catalog %}" type="text/javascript"></script>
    {{ block.super }}
    <script type="text/javascript">
    (function($){
        $(function(){
            //$(".applyDate").data("applyFinish", DateTimeShortcutsFinish);
            //$(".cancelDate").data("cancelFinish", DateTimeShortcutsFinish);
        });
    })(jQuery);
    </script>
{% endblock %}
